<h1>Login</h1>
<%= form_with url: login_path, scope: :session do |form| %>
  <p>Email: <%= form.email_field :email %></p>
  <p>Password: <%= form.password_field :password %></p>
  <%= form.submit "Login" %>
<% end %>

<p>Don't have an account? <%= link_to "Sign up", signup_path %></p>
